*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: #dbdbdb;
}

#social{
	background-color: black;
	color: white;
	height: 55px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	font-size: 18px;
	text-align: right;
	padding: 15px;

}

font{	
	float:left;
	letter-spacing: 2px;
}


span{
	font-size: 12px;
	letter-spacing: 1px;
}

.büyükekran {
	display: block;
}

.kücükekran {
	display: none;
}

#social>i{
	margin-right: 15px;
}

#social>i:hover{
	opacity: 0.8;
}

#container{
	width: 80%;
	margin: auto;
	height: auto;
}

header{
	width: 100%;
	height: 200px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	background-color: black;
}

#headerResim{
	width: 100%;
	height: 200px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	opacity: 1;
}

#centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

section{
	width: 100%;
	height: auto;
	background-color: #f1f1f1;
	border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-top: 15px;
    overflow: auto;
 }

 nav {
 	background: white;

 }
 	
nav ul{
 	list-style-type: none;
 	width: auto;
 	height: 100%;
 	margin: 5;
 	padding: 0;
 	display: inline-flex;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: center;
 }

nav ul .search-icon{
	height: 40px;
width: 240px;
display: inline-flex;
background: white;
border-radius: 5px;
float: right;
}

nav ul .search-icon input{
height: 100%
width:200px;
border: none;
border-radius: 5px 0 0 5px;
outline: none;
padding: 0 10 px;
color: #000;
font-size: 16px;

}

nav ul .search-icon .icon{
	height: 100%;
	width:40px;
	line-height: 40px;
	text-align: center;
	background: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	float: right;
}

nav ul .search-icon .icon:hover{
	background: red;

}

nav ul .search-icon .icon span{
color: pink;
font-size: 18px;
}


 nav li{
 	float: left;
 	list-style-type: none;
 }

nav li a{
	padding: 20px 50px;
	text-decoration: none;
	background-color: white;
	display: block;
	height: 75px;
	line-height: 50px;
	color: black;
}

nav li a:hover {
	color: darkblue;
	background-color: magenta;
}

i{
	margin-right: 10px;
}

main{
	float: left;
	height: auto;
	width: 80%;
	padding: 10px;
	overflow: auto;
}

.icerik{
	width: 48%;
	height:auto;
	display: inline-block;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-bottom: 15px;
    padding: 5px;
}

.icerikkariyer {
	width: 48%;
	height:auto;
	display: inline-block;
	margin-left: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-bottom: 15px;
    padding: 5px;
}

.icerikkariyer2 {
	display: none;
	text-align: center;
}

.rsm{
	width: 100%;
	text-align:left;
	}


.rsm:hover{
	opacity: 0.6;
	transition: opacity 0.6;
}

h5{
	margin: 10px;
	color:dimgray;
}

.icerikText{
	margin: 18px;
	color: purple;
}

.icerik2 {
	display: none;
	text-align: center;
	align-items: center;
}

.btnDevam:link{
	display: block;
	width: 150px;
	height: 45px;
	padding: 10px 20px;
	background-color: gray;
	color: white;
	text-decoration: none;
	margin: 15px;
	border-radius: 15px;
}

.btnDevam:hover{
	opacity:0.8;
}

footer{
	width: 100%;
	height:75px;
	background-color: black;
	color: white;
	line-height: 75px;
	text-align: center;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}

footer>i{
	margin: 0;
	padding: 0;
	margin-right: 15px;
	float: right;

}

h1{
    text-align: center;
	background-color: purple;
	color: blue;
	height: 50px;
	line-height: 50px;
	margin:0 10px;
	border-radius: 10px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
}

#hizmetlerimizRSM{
	width: 500px;
	height: 300px;
	float: left;
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 10px;
    transition: opacity 0.8s;
}

#hizmetlerimizRSM:hover{
	opacity: 0.6;
}

.hizyazi{
	margin-right: 15px;
	font-size: 15px;
	font-family: Cambria;
	text-indent: 40px;
	color: #647387;

}

iframe{
	width: 98%;
    height: 350px;
    border-radius: 10px;
	margin-top: 10px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    margin-left: 10px;
	background-color: #f2f2f2;
	padding: 10px;

}

.section1{
	width: 98%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	background-color: #f2f2f2;
	padding: 10px;

}


input[type=submit]{
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	float: right;
}

.adres{
	width: 49%;
	float:left;
	height: 380px;
	border: 1px solid #d8d8d8;
	padding: 10px;
}

@media (max-width: 800px) {
	.icerik {
		display: none;
	}

	.icerik2 {
		display: block;
	}

	.icerikkariyer {
		display: none;
	}

	.icerikkariyer2 {
		display: block;
	}

	.büyükekran {
		display: block;
	}

	.kücükekran {
		display: block;
	}
}